body{
    background-color: black;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    padding: 3rem;
}

header{
    font-size: 2rem;
    font-weight: bolder;
    border-radius: 20px;
    outline: 3px solid black;
    box-shadow: 0 0 0 10px bisque;
    background-color: bisque;
    display: flex;
    justify-content: center;
    margin: auto;
    width: max-content;
    padding: 1rem 2rem;
    z-index: 100;
    cursor: default;
    position: relative;
}

.container{
    z-index: 0;
    background-color: blanchedalmond;
    outline: 5px solid black;
    box-shadow: 0 0 0 20px bisque;
    margin: -1.5rem 10rem;
    border-radius: 20px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.description, .moves-played{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.current-move, .robot-move{
    background-color: rgb(88, 72, 65);
    height: 2rem;
    width: 14rem;
    padding: 0.5rem;
    font-size: x-large;
    color: beige;
    border-radius: 10px;
    padding-top: 1rem;
    text-align: center;
    vertical-align: middle;
}


.move-list{
    margin-top: 4rem;
    padding: 2rem;
    height: 10rem;
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-bottom: 4rem;
}

img {
    height: 15rem;
    border: 7px solid black;
    border-radius: 30px;
    align-items: center;
    transition: 0.3s;
}

img:hover {
    cursor:pointer;
    height: 17rem;
    transition: 0.3s;
    border: 7px solid black;
    filter: invert(1);
    border-radius: 30px;
}

img:active {
    cursor:pointer;
    height: 16rem;
    transition: 0.1s;
    border: 7px solid black;
    filter: invert(0);
    border-radius: 30px;
}



.score-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    height: 5rem;
    /* background-color: red; */
    width: 60rem;
}

.p-move, .r-move{
    margin-bottom: -1rem;
    padding: 0rem;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px black solid;
    /* background-color: blue; */
}

.s1,.s2,.s3,.s4,.s5{
    height: 2rem;
    margin-top: 1rem;
    /* border: 7px solid black; */
}

footer{
    display: flex;
    justify-content: center;
}

.reset{
    background-color: bisque;
    padding: 2rem;
    border-radius: 100px;
    border-style: none;
    width: 50rem;
    font-size: larger;
    margin-top: 4rem;
    cursor:pointer;
}

.reset:active{
    background-color: beige;
    font-size: large;
    width: 40rem;
    
}